body {
    font-family: Arial, sans-serif;
    background: #fefefe;
}

form {
    background: rgb(96, 185, 96);
    padding: 20px;
    width: 355px;
    margin: 50px auto;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
    scroll-margin-right: 55px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-right:55px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: green;
    color: white;
    border: none;
}
h2 {
  text-align: center;
}
